<div class="details-container">
  <div class="row">
    <div class="col-md-12">
      <img src="{{selected.imageLink}}" alt="{{selected.model}}" style="max-height: 250px; width: 100%; border-radius: 30px;" />
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h2>Bike Name: {{selected.brand}} {{selected.type}} {{selected.model}}</h2>
      <h3>Kilometerstand: {{selected.mileage}} Km</h3>
      <h4>Price: {{selected.price}} €</h4>
      <p>Beschreibung: </p>
    </div>
  </div>
</div>

