<div class="list-box-container">

  <a class="list-box" (click)="selectBike()">

    <div style="margin-bottom: 5px;">
      <img src="{{bike.imageLink}}" alt="{{bike.model}}" style="max-height: 200px; width: 155px; border-radius: 30px;" />
    </div>

    <div style="margin-bottom: 10px;">
      <h4>Bike Name: </h4>
      <h6>{{bike.brand}} {{bike.type}} {{bike.model}}</h6>
      <h5>Kilometerstand:</h5>
      <h6> {{bike.mileage}} Km</h6>
      <p>Price: {{bike.price}} €</p>
      <button type="button" class="btn btn-success">Book Test Drive</button>
    </div>
  </a>

</div>

