.list-box {
  margin-bottom: 10px;
}

.list-box-container{
    width: 200px;
    border: solid;
    border-color: rgba(0,0,0,0.2);
    border-radius: 50px;
    margin: 20px;
    padding: 20px;
    background-color: rgba(0,0,255, 0.15);
}

a{
  text-decoration: none;
  color: black;
}

h4{
    margin: 0;
}

h5{
    margin: 0;
}
