<div class="main-container">
  <app-header></app-header>
  <app-navbar></app-navbar>

  <div class="body-container">
    <div class="selected-bike">
      <app-bike-details *ngIf="selectedBike else no_bike_selected" [selected]="selectedBike"></app-bike-details>
      <ng-template #no_bike_selected>
        <h4>No bike selected!</h4>
      </ng-template>
    </div>
    <div class="list-items" style="width: 300px;" *ngFor="let bike of bikeList">
      <app-bike-list-box [bike]="bike" (selectedBike)="sendDetails(bike)"></app-bike-list-box>
    </div>
  </div>

  <app-footer></app-footer>
</div>

