.header {
  box-shadow: 2px 2px 2px rgb(0,0,0,0.3);
  background-color: white;
  height: 200px;
}

.column{
    float: left;
    width: auto;
}
.column > img{
    height: 100%;
    width: auto;
}

.logo{
    padding: 30px;
}

.row::after{
    content: "";
    clear: both;
    display: table;
}

.banner{
    width: 100%;
}



